/*
charte site immobilier:
#298BEA bleu
#000000 noir
#FFFFFF blanc
font-family: Arial, Helvetica, sans-serif; restons simple
*/

body{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    margin: 0;
}

/* header */
header{
    position: fixed;
    width: 100%;
    z-index: 2;
    border-bottom: 1px solid rgba(0,0,0, .5);
    transition: .5s ease;
    padding-top: 15px;
}
nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
nav ul form{
    display: flex;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: #298BEA;
    font-weight: bold
}
.lienscol{
    transition: .5s ease;
}

#butsearch{
    background-color: #298BEA;
    color: #FFFFFF;
    transition: .5s ease;
    border: 1px solid #FFFFFF;
}
#inputcol{
    background-color: #298BEA;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}
#inputcol::placeholder{
    color: #FFFFFF;
}
#burger{
    display: none;
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 2;
}




/* main */
main{
    padding: 10% 0;
    position: relative;
    z-index: 1;
    background-color: #FFFFFF;
}
#menumodal nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#grid{
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    gap: 100px;
}
.grid{
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    gap: 100px;
}

.card-body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.card-text{
    display: none;
}
.card-title{
    font-weight: bold;
    text-transform: uppercase;
}

#filtre{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 5%;
}
#filtre input{
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
}
#filtre input::placeholder{
    color: #FFFFFF;
}
#filtre button{
    background-color: #298BEA;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    transition: .5s ease;
}
#filtre button:hover{
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 5px;
}
#cent{
    text-align: center;
    color: #298BEA;
    font-weight: bold;
}
#icon{
    position: fixed;
    bottom: 50px;
    right: 50px;
    transition: .5s ease;
}
.btn{
    background-color: #298BEA;
    color: #FFFFFF;
}





/* footer */
footer{
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: #298BEA;
    text-align: center;
    border-top: 1px solid #000000;
    color: #FFFFFF;
}
footer form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer form input{
    margin-bottom: 5px;
}
#contactform button{
    margin: 5px 0;
    border: none;
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 5px;
    transition: .5s ease;
}
#contactform button:hover{
    background-color: #000000;
    color: #FFFFFF;
}
.contactinput{
    border: none;
    border-radius: 5px;
    transition: .5s ease;
}
.contactinput:focus{
    background-color: #000000;
    color: #FFFFFF;
}
.contactinput:focus::placeholder{
    color: #FFFFFF;
}


/* responsive */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
    body {
        font-size: 14px; /* Adjust font size for tablets */
    }
    /* Adjust header styles for tablets */
    header {
        padding-top: 10px;
    }
    
    nav ul{
        flex-wrap: wrap;
    }
    /* Adjust main styles for tablets */
    main {
        padding: 20% 0;
    }
    #filtre{
        flex-wrap: wrap;
    }
    /* Adjust grid styles for tablets */
    #grid {
        grid-template-columns: auto auto;
        gap: 50px;
    }
    .grid{
        grid-template-columns: auto auto;
        gap: 50px;
    }
}

/* Phones (portrait and landscape) */
@media only screen and (max-width: 599px) {
    body {
        font-size: 12px; /* Adjust font size for phones */
    }

    /* Adjust header styles for phones */
    header {
        display: none;
    }
    #burger{
        display: block;
    }
    /* Adjust main styles for phones */
    main {
        padding: 25% 0;
    }
    #filtre{
        flex-wrap: wrap;
    }
    /* Adjust grid styles for phones */
    #grid {
        grid-template-columns: auto;
        gap: 30px;
    }
    .grid{
        grid-template-columns: auto;
        gap: 30px;
    }
}